* {
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: -apple-system, BlinkMacSystemFont, Segoe UI, Roboto, Oxygen,
    Ubuntu, Cantarell, Open Sans, Helvetica Neue, sans-serif;
  font-weight: 500;
}

.hero,
.about,
.portfolio,
.contact {
  color: white;
}

/*Hero section */
.hero {
  height: max-content;
  background-color: black;
  color: white;
}
.branding {
  display: flex;
  flex-direction: column;
  margin: 0 auto;
  justify-content: center;
}
.profile {
  display: flex;
  flex-direction: row;
  align-items: center;
  justify-content: space-evenly;
}
.profile img {
  border-radius: 50%;
  height: 280px;
}
.profile-pic {
  width: 20%;
  display: flex;
  justify-content: flex-end;
  align-items: center;
  margin-top: 2rem;
}
.profile h1 {
  font-size: 4rem;
}
.profile h2 {
  margin-top: 1rem;
  opacity: 0.8;
}
.profile p {
  opacity: 0.6;
  margin-top: 1rem;
}
.social-media-links {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-items: center;
  margin: 2rem 2rem;
}
.links {
  display: flex;
  flex-direction: row;
  margin-top: 0.5rem;
}
.links a {
  font-size: 2rem;
  color: white;
}
.links a:hover{
  color: blue;
}

/*Skills section*/
.about {
  display: flex;
  flex-direction: column;
  height: max-content;
  color: black;
  padding-top: 2rem;
}
.about h1 {
  text-align: center;
  font-size: 2rem;
}
.skills {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  width: 100%;
}
.card {
  width: 30%;
  height: 300px;
  box-shadow: 4px 4px 8px 0px;
  display: flex;
  flex-direction: column;
  margin: 2rem;
  border-radius: 1.2rem;
}
.card:hover{
  background-color: black;
  color: white;
  width: 40%;
  height: 350px;
}

.card h2{
  padding: 1rem 0rem 1rem 0rem;
  font-size: 1.7rem;
  text-align: center;
}
.card ul li{
  list-style: square;
  width: 40%;
  font-size: 1.0rem;
}
.card p{
  margin-left: 0.7rem;
}
.stack{
  display: flex;
  flex-direction: column;
  justify-content: space-between;
}
.stack h3{
  text-align: center;
  font-size: 1.2rem;
  padding: 0.8rem 0rem 0.8rem 0rem;
}

.stack ul{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: space-around;
}

/* Portfolio section */

.portfolio {
  color: white;
  background-color: black;
}
.portfolio h1 {
  text-align: center;
  padding-top: 2rem;
}
